<!--
@license
Copyright 2018 abas Software GmbH. All Rights Reserved.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<link rel="import"
      href="../polymer/polymer-element.html">
<link rel="import"
      href="../vaadin-grid/vaadin-grid-column.html">
<link rel="import"
      href="../vaadin-grid/vaadin-grid.html">
<link rel="import"
      href="../vaadin-grid/vaadin-grid-sorter.html">
<link rel="import"
      href="../paper-icon-button/paper-icon-button.html">


<dom-module id="abas-table-with-controls">
  <template>
    <style>
      :host {
        display: block;
      }

      vaadin-grid {
        width: 100%;
        padding: 1rem;
        border: 0px;
        height: var(--abas-table-with-controls-vaadin-grid-height, 400px);
        max-height: var(--abas-table-with-controls-vaadin-grid-max-height, 400px);
        min-height: var(--abas-table-with-controls-vaadin-grid-min-height);
      }

      paper-icon-button {
        left: -10px;
      }
    </style>

    <vaadin-grid items="[[fields]]">
      <dom-if if="[[!noDeleteButton]]">
        <template>
          <vaadin-grid-column width="40px"
                              flex-grow=0
                              frozen>
            <template class="header">
            </template>
            <template>
              <paper-icon-button icon="icons:remove-circle"
                                 raised
                                 on-tap="_handleRemoveBtn"></paper-icon-button>
            </template>
          </vaadin-grid-column>
        </template>
      </dom-if>
      <dom-if if="[[!noMoveButtons]]">
        <template>
          <vaadin-grid-column width="40px"
                              flex-grow=0
                              frozen>
            <template class="header">
            </template>
            <template>
              <template is="dom-if"
                        if="[[_isNotFirstRow(index,fields,fields.*,fields.splices)]]">
                <paper-icon-button icon="icons:arrow-upward"
                                   raised
                                   on-tap="_moveUp"></paper-icon-button>
              </template>
            </template>
          </vaadin-grid-column>
          <vaadin-grid-column width="40px"
                              flex-grow=0
                              frozen>
            <template class="header">
            </template>
            <template>
              <template is="dom-if"
                        if="[[_isNotLastRow(index,fields,fields.*,fields.splices)]]">
                <paper-icon-button icon="icons:arrow-downward"
                                   raised
                                   on-tap="_moveDown"></paper-icon-button>
              </template>
            </template>
          </vaadin-grid-column>
        </template>
      </dom-if>
      <slot>
      </slot>

    </vaadin-grid>

  </template>

  <script>
    /**
     * `abas-table-with-controls`
     * Table with control buttons to move lines up and down
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class AbasTableWithControls extends Polymer.Element {
      static get is() { return 'abas-table-with-controls'; }
      static get properties() {
        return {
          fields: {
            type: Array,
            notify: true
          },
          noMoveButtons: {
            type: Boolean,
            value: false,
            reflectToAttribute: true
          },
          noDeleteButton: {
            type: Boolean,
            value: false,
            reflectToAttribute: true
          }
        };
      }

      /**
        * Called every time the element is inserted into the DOM. Useful for
        * running setup code, such as fetching resources or rendering.
        * Generally, you should try to delay work until this time.
        */
      connectedCallback() {
        super.connectedCallback();

        Array.prototype.move = function (old_index, new_index) {
          if (new_index >= this.length) {
            var k = new_index - this.length;
            while ((k--) + 1) {
              this.push(undefined);
            }
          }
          this.splice(new_index, 0, this.splice(old_index, 1)[0]);
          return this; // for testing purposes
        };

      }

      _handleRemoveBtn(event) {
        const item =event.model.item;
        var index = this.fields.indexOf(item);
        this.splice("fields", index, 1);
        this.dispatchEvent(new CustomEvent('remove-item',{detail:item}));
      }

      _moveUp(event) {
        const index = event.model.index;
        if (index > 0) {
          const itemTarget = this.fields[index - 1];
          const itemMoved = this.fields[index];
          this.dispatchEvent(new CustomEvent('move-row',{detail:{from:itemMoved,to:itemTarget}}));
          this.fields.move(index, index - 1);
        }
        this.notifySplices('fields');
      }

      _moveDown(event) {
        const index = event.model.index;
        if (index < (this.fields.length - 1)) {
          const itemTarget = this.fields[index + 1];
          const itemMoved = this.fields[index];
          this.dispatchEvent(new CustomEvent('move-row',{detail:{from:itemTarget,to:itemMoved}}));
          this.fields.move(index, index + 1);
        }
        this.notifySplices('fields');
      }

      _isNotFirstRow(index) {
        return (index != 0);
      }

      _isNotLastRow(index) {
        return (index != (this.fields.length - 1));
      }
    }

    window.customElements.define(AbasTableWithControls.is, AbasTableWithControls);
  </script>
</dom-module>
